.my-theme {
  --color-text-main: #f4eded;
  --color-text-secondary: #36827f;
  --color-bacground-aside: #877666;
  --color-bacground-main: #464d77;

  --padding-bottom-H2title-main: 20px;
  --margin-left-main_section: 410px;
  --margin-left-aside: 20px;
  --margin-right-aside: 20px;
}