.main-theme {
    --color-text-main: #263036;
    --color-text-secondary: #1e1e1e;
    --color-bacground-aside: #86a3b4;
    --color-bacground-main: #fff;

    --padding-bottom-H2title-main: 28px;
    --margin-left-main_section: 410px;
    --margin-left-aside: 15px;
    --margin-right-aside: 40px;
}